.about {
  background-color: #000;
  color: #fff;

  &__title {
    @include title;

    @include onDesktop {
      font-size: 60px;
    }
  }

  &__content {
    &-text {
      font-size: 20px;
      line-height: 28px;
      text-align: center;

      &--desktop {
        display: none;
      }

      @include onDesktop {
        margin: 0 auto;
        width: 50%;

        &--desktop {
          display: block;
        }

        &--mobile {
          display: none;
        }
      }
    }
  }
}
