.contacts {
  &__list {
    display: flex;
    justify-content: center;
    margin: 15px 0 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    padding: 10px;

    &-icon {
      width: 24px;
    }
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &--mobile {
    @include onDesktop {
      display: none;
    }
  }

  @media (max-width: 1350px) {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
