.footer {
  background-color: #eee;
  margin-top: 40px;
  padding-bottom: 50px;

  &__blocks {
    padding-top: 50px;
  }

  @include onDesktop {
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 30px 50px;
    max-width: 1900px;

    &__blocks {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
    }
  }
}
