.warning {
  background-color: #eee;
  padding: 10px;
  text-align: center;

  &__text {
    color: #000;
    font-family: "Trade Gothic";
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
  }
}
