@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/TradeGothicLTStd.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ogg";
  src: url("../fonts/Ogg-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
