@mixin onDesktop {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin title {
  font-family: "Ogg", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}
